.inputboxborder {
  border: 1px solid #efefef;
}

.inputboxborder:focus {
  border: 1px solid #f12b0c;
}

.signinbox {
  backdrop-filter: blur(23.399999618530273px);
  background-color: #f12b0c;
}

.cheackboxborder {
  border: 1.5px solid #717171;
}
